@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

/* header */

.header{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
}

.notelogo{
    vertical-align: middle;
    font-size: 40px;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: black .05em .05em 0,
                 white .08em .08em 0;
}

/* sidebar left*/

.btnzone{
  position: fixed;
  top: 150px;
  left: 0;
  width: 400px;
  height: 100%;
  background-color: black;
  text-align: center;
  padding-top: 25px;
}

/*bottoni*/

.BtnAdd{
  background-color: black;
  color: white;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  width: 100px;
  height: 25px;
  font-family: 'Prompt', sans-serif;
}

.BtnAdd:hover{
  background-color: rgb(0, 255, 0);
  color: black;
  border: 2px solid #555555;
}

.BtnRmv{
  background-color: black;
  color: white;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  width: 100px;
  height: 25px;
  font-family: 'Prompt', sans-serif;
}

.BtnRmv:hover{
  background-color: rgb(255, 0, 0);
  color: black;
  border: 2px solid #555555;
}

.mynotes{
  position: fixed;
  top: 100px;
  left: 0;
  width: 400px;
  height: 100%;
  background-color: black;
  text-align: center;
}

.mynot{
  color: white;
  font-family: 'Lobster', cursive;
  text-shadow: black .05em .05em 0,
               white .08em .08em 0;
}

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 200px;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }

.sidenav::-webkit-scrollbar{
    display: none;
}

  /* content section */

.content{
  position: fixed;
  width: 1120px;
  height: 100%;
  top: 100px;
  left: 400px;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  overflow: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.content::-webkit-scrollbar{
  display: none;
}

.Titolo{
  position: fixed;
  left: 50%;
  top: 200px;
  font-family: 'Cantata One', serif;
}

.Testo{
  position: fixed;
  left: 25%;
  top: 270px;
  font-family: 'Cantata One', serif;
}

.NoSelectedNote{
  position: fixed;
  top: 50%;
  left: 36%;
  text-align: center;  
  font-family: 'Cantata One', serif;
}

/* sidebar right*/

.toolsection{
  position: fixed;
  top: 150px;
  right: 0px;
  width: 400px;
  height: 100%;
  background-color: black;
}

.tool{
  position: fixed;
  top: 100px;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: black;
  text-align: center;
}

.Tooltext{
  color: white;
  font-family: 'Lobster', cursive;
  text-shadow: black .05em .05em 0,
               white .08em .08em 0;
}

/* sfondi */

.sfondi{
  position: fixed;
  top: 150px;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: black;
  text-align: center;
}

.sfondotext{
  color: white;
  font-size: medium;
  font-family: 'Prompt', sans-serif;
}

/* footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: black;
  height: 100px;
  width: 100%;
  clear: both;
}

#wrap
{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

#lightings
{
	bottom: -60px;
	position: absolute;
	width: 100%;
}

section
{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 20px;
	width: 100%;
	position: relative;
	margin: auto;

}

#one
{
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes 
one { from {
-webkit-box-shadow: 0 0 250px 20px #473C78;
}

to { -webkit-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-moz-keyframes 
one { from {
-moz-box-shadow: 0 0 250px 20px #473C78;
}

to { -moz-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-o-keyframes 
one { from {
-o-box-shadow: 0 0 250px 20px #473C78;
}

to { -o-box-shadow: 0 0 100px 15px #F72A3B; }
}

@keyframes 
one { from {
box-shadow: 0 0 250px 20px #473C78;
}

to {box-shadow: 0 0 100px 15px #F72A3B; }
}

#two
{
	width: 90%;
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes 
two { from {
-webkit-box-shadow: 0 0 250px 20px #18C499;
}

to { -webkit-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-moz-keyframes 
two { from {
-moz-box-shadow: 0 0 250px 20px #18C499;
}

to { -moz-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-o-keyframes 
two { from {
-o-box-shadow: 0 0 250px 20px #18C499;
}

to { -o-box-shadow: 0 0 100px 15px #D8F05E; }
}

@keyframes 
two { from {
box-shadow: 0 0 250px 20px #18C499;
}

to { box-shadow: 0 0 100px 15px #D8F05E; }
}

#three
{
	width: 80%;
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes 
three { from {
-webkit-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -webkit-box-shadow: 0 0 100px 15px #3E33FF; }
}
@-moz-keyframes 
three { from {
-moz-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -moz-box-shadow: 0 0 100px 15px #3E33FF }
}
@-o-keyframes 
three { from {
-o-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -o-box-shadow: 0 0 100px 15px #3E33FF }
}

@keyframes 
three { from {
box-shadow: 0 0 250px 20px #FFDD00;
}

to { box-shadow: 0 0 100px 15px #3E33FF }
}

#four
{
	width: 70%;
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes 
four { from {
-webkit-box-shadow: 0 0 250px 20px #781848;
}

to { -webkit-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-moz-keyframes 
four { from {
-moz-box-shadow: 0 0 250px 20px #781848;
}

to { -moz-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-o-keyframes 
four { from {
-o-box-shadow: 0 0 250px 20px #781848;
}

to { -o-box-shadow: 0 0 100px 15px #F2BBE9; }
}

@keyframes 
four { from {
shadow: 0 0 250px 20px #781848;
}

to { shadow: 0 0 100px 15px #F2BBE9; }
}

#five
{
	width: 60%;
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes 
five { from {
-webkit-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -webkit-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-moz-keyframes 
five { from {
-moz-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -moz-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-o-keyframes 
five { from {
-o-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -o-box-shadow: 0 0 100px 15px #F4F6AD; }
}

@keyframes 
five { from {
box-shadow: 0 0 250px 20px #42F2A1;
}

to { box-shadow: 0 0 100px 15px #F4F6AD; }
}